.object{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    left: 600px;
}
html{
    height: 100%;
}
body{
    height: 100%;
    background-color: grey;
    display: flex;
    cursor: crosshair;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}
#enemy{
    background-color: black;
}
#enemy-gold{
    background-color: gold;
    width: 40px;
    height: 40px;
}
#ally{
    background-color: white;
}
.stats{
    flex-direction: column;
    font-size: 22px;
    color: white;
    padding: 10px;
}
#reload-message {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 20px;
    font-size: 22px;
    color: white;
    display: none;
}