.object{
    height: 180px;
    width: 180px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
html, body{
    height: 100%;
}
body{
    background-color: grey;
    display: flex;
    cursor: crosshair;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
}
#start-button{
    padding: 25px;
    font-size: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#enemy{
    background-color: black;
    z-index: 1;
}
#enemy-gold{
    background-color: gold;
    width: 40px;
    height: 40px;
    z-index: 3;
}
#ally{
    background-color: white;
    z-index: 2;
}
#stats{
    flex-direction: column;
    font-size: 22px;
    color: white;
    padding: 10px;
}
#reload-message {
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 20px;
    font-size: 22px;
    color: white;
    display: none;
}
.upgrade-button{
    height: 250px;
    width: 250px;
    padding: 30px;
    margin: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(120, 35, 205);
    background-color: rgba(99, 3, 91, 0.7);
    font-size: 40px;
    text-shadow: -1.5px -1.5px 0 black, 1.5px -1.5px 0 black, -1.5px 1.5px 0 black, 1.5px 1.5px 0 black; /* black outline */
    border: 3px dashed black;
    z-index: 10;
}
#upgrade-container{
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    z-index: 5;
}
#game-container {
    display: none;
    height: 100%;
    width: 100%;
}